# java specific
*.class
 
# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# project specific
logs
config/priv_key
config/pub_key

# gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Intellij
*.iml

# directory-based project format:
.idea/

# file-based project format:
*.ipr
*.iws

